header{
    position: fixed;
    height: 5rem;
    top: 0; left: 0; right: 0;
    background-color: white;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header .navbar a{
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: black;
}
header .navbar a.active,
header .navbar a:hover{
    background-color:rgb(249, 115, 22);
    color: white;
}